[submodule ".vim"]
	path = .vim
	url = https://github.com/tpope/vim-pathogen
[submodule ".vim-bundles/vim-airline"]
	path = .vim-bundles/vim-airline
	url = https://github.com/bling/vim-airline
[submodule ".vim-bundles/vim-sensible"]
	path = .vim-bundles/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule ".vim-bundle/vim-sensible"]
	path = .vim-bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule ".vim-bundle/vim-airline"]
	path = .vim-bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule ".fonts/powerline"]
	path = .fonts/powerline
	url = https://github.com/powerline/fonts
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
