[submodule "pathogen"]
	path = /home/leigh/.vim
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim"]
	path = .vim
	url = https://github.com/tpope/vim-pathogen
[submodule ".vim-bundles/vim-airline"]
	path = .vim-bundles/vim-airline
	url = https://github.com/bling/vim-airline
[submodule ".vim-bundles/vim-sensible"]
	path = .vim-bundles/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule ".vim-bundle/vim-sensible"]
	path = .vim-bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule ".vim-bundle/vim-airline"]
	path = .vim-bundle/vim-airline
	url = https://github.com/bling/vim-airline
